/*
 * Simple Calculator style
 * Tweak the View (design) here
 */

body {
	font-family: "Open Sans",sans-serif;
}

button	{
	font-size: 2em;
	height: 3.05em;
	width: 4em;
	color: #111;
}
.slim {
	width: 10%;
	font-size: 1em;
}

#calc {
	border: 1px solid #000;
	border-radius: 15px;
	background: radial-gradient(#888,#555);
	width: 50%;
}

#display {
	vertical-align: middle;
	text-align: right;
	width: 97%; height: 1.9em;
	font-size: 3em;
}

button,#display	{
	border-radius: 12px;
}

/* Documentation */
#notes	{ margin-left: 2em; margin-top: 3em; }
ul,.ul	{ margin-top: 0px; padding-top: 0px; margin-bottom: 4px; }
.note	{ font-size: 0.8em; color: #555; }
